---
layout: home
title: Thomas P Ogden &mdash; CV
permalink: /cv/
---

<section>

  <header>
    <h1>Thomas P. Ogden</h1>
  </header>

<aside class="sidebox">

    <h1>Download CV</h1>

    <ul>
        <li><a href="">PDF (.pdf)</a></li>
        <li><a href="">Word (.docx)</a></li>
        <!-- <li><a href="">Plain Text</a></li> -->
    </ul>

</aside>

<ul>
<li><em>Postgraduate Researcher in Theoretical Physics, Durham University.</em></li>
<li><em>Software Engineer.</em></li>
</ul>

<!-- <aside>&nbsp;</aside> -->
<h4>Contact</h4>
<ul>
<li>{% include email.html %}</li>
<li>{% include phone.html %}</li>
<!-- <li>+44 7834 421552</li> -->
<li>Ph144B, Physics Department, Durham University, DH1 3LE, UK</li>
</ul>

<!-- </section>
<section>
 -->
<aside>&nbsp;</aside>
<h4>Education</h4>

<aside>University of Durham, UK<br />2011&ndash;2015 (Expected)</aside>
<h2>PhD &mdash; Theoretical Physics</h2>

<ul>
<li>Quantum Optics, Quantum Information, Atomic Physics</li>
<li>Thesis: Optical Properties of a Blockaded Medium</li>
</ul>

<aside>Stockholm University, Sweden<br />2009&ndash;2011</aside>
<h2>MSc &mdash;  Computational Physics</h2>

<ul>
<li>Computer Science for Physicists, Numerical Analysis, Algorithms, High-Performance Computing, Simulation, Molecular Physics, Quantum Chemistry</li>
<li>Thesis: Reorientation Dynamics of Nitrate Anions in Solution</li>
</ul>

<aside>University of Warwick, UK<br />2001&ndash;2004</aside>
<h2>BSc (Hons) &mdash;  Mathematics &amp; Physics</h2>

<ul>
<li>Final Year Project: A Computational Study of Magnetohydrodynamics in the Solar Corona.</li>
</ul>

<aside>&nbsp;</aside>
<h4>Professional Experience</h4>

<aside>Dinorwic, Stockholm<br />2009&ndash;2011</aside>
<h2>Software Consultant</h2>

<ul>
<li>Oracle PL/SQL development and business analytics.</li>
<li>Serving clients in scientific analysis and manufacturing industries.</li>
</ul>

<aside>Biwater, Manchester<br />2006&ndash;2009</aside>
<h2>Software Engineer</h2>

<ul>
<li>Oracle PL/SQL development.</li>
<li>Migrated data from legacy system and developed application layers for finance, project management, commerical, supply chain and payroll functions.</li>
</ul>

<aside>Biwater, Cambridgeshire<br />2005&ndash;2007</aside>
<h2>Graduate Engineer</h2>

<ul>
<li>Led electrical and control system design on an £11m programme of work to maintain water supply to the town of Newmarket.</li>
<li>Developed and tested Programmable Logic Controller software to automate plant operation.</li>
</ul>

<aside>&nbsp;</aside>
<h4>Skills</h4>

<ul>
<li><em>Programming</em>: C++ (STL, Boost), Python (NumPy, SciPy), High-Performance Computing (OpenMP), Matlab, Oracle PL/SQL, Javascript (jQuery, D3), Git, Unix Shell, TeX.</li>
<li><em>Languages</em>: Swedish (two years of university courses and residence).</li>
</ul>

<aside>&nbsp;</aside>
<h4>Teaching</h4>

<aside>University of Durham, UK<br />2012&ndash;2014</aside>

<h2>Demonstrating &amp; Marking</h2>
<ul>
<li>Level 2 and 3 Computing Labs</li>
<li>Teaching programming in Python for computational physics</li>
</ul>

<aside>&nbsp;</aside>
<h4>Publications</h4>

<!-- <ol> -->
<!-- <li>Hydration Dynamics of Aqueous Nitrate</li> -->
<!-- </ol> -->
<aside>J Phys Chem B  2013 117 (12), 3376-3388</aside>
<h2>Hydration Dynamics of Aqueous Nitrate</h2>
<p><em>Jan Thøgersen, Julien Réhault, Michael Odelius, <strong>Thomas P. Ogden</strong>, Naresh K. Jena, Svend J. Knak Jensen, Søren R. Keiding, and Jan Helbing</em></p>

<aside>&nbsp;</aside>
<h4>Activities</h4>

<ul>
<li>Running marathons</li>
<li>Mountaineering</li>
</ul>

</section>